#works{
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem
}
.worktitle{
      margin: 1rem;
      font-size: 3rem;

}
.workdesk{
    font-weight: 300;
    font-size: 1rem;
    padding-bottom:10px ;
}
.projectContainer{
    max-width: 1100px;
    
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding-bottom: 5rem;
}
.projectCard{
    background: rgba(12, 12, 28, 0.64);
    padding: 1.2rem 1rem;
    
}
.projectCard:hover{
     background-color: rgb(62, 62, 62);
     cursor: pointer;
     transform: scale(1.03);
     transition:all is ease;
}


.projectCard img{
    width: 100%;
    
}
.projectTitle{
    color: #fff;
    padding: 1rem 0;
}
.prodetails p{
    padding-bottom: 1.1rem;
    text-align:justify;
}
.probtn{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.probtn  .btn{
    cursor: pointer;
    padding: 0.5rem 1rem;
    
}
@media screen and (max-width:740px) {
    .projectContainer{
          max-width: 90%;
          margin: auto;
          grid-template-columns: 1fr;
    }
    
}
